<p class="title-2">Listing Profiles</p>

<table class="table table-responsive table-xs text-xs-center">

  <tbody>
    <% @profiles.each do |profile| %>
    <thead class="thead-default">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Profesión</th>
        <th>Última Compañía</th>
        <th colspan="2">Último Cargo</th>

      </tr>
    </thead>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.email %></td>
        <td><%= profile.profession %></td>
        <td><%= profile.last_company %></td>
        <td colspan="2"><%= profile.last_position %></td>
      </tr>

  </tbody>

  <thead class="thead-default">
    <tr>
      <th>País</th>
      <th>Ciudad</th>
      <th>Responsabilidades</th>
      <th>Tipo de Trabajo</th>
      <th colspan="2">Honores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= profile.country %></td>
        <td><%= profile.state %></td>
        <td><%= profile.responsibilities %></td>
        <td><%= profile.type_job %></td>
        <td><%= profile.honors %></td>
        <td><strong><%= link_to 'Mostrar', profile %></strong> <br>
        <% if can? :manage, profile%>
          <strong><%= link_to 'Editar', edit_profile_path(profile) %></strong> <br>
          <strong><%= link_to 'Eleminar', profile, method: :delete, data: { confirm: 'Are you sure?' } %></strong></td>
        <% end %>
    </tr>
    <% end %>
  </tbody><br>
</table>
