<% if @option == nil %>
 <div class="container-fluid">
   <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2">
                <%= link_to root_path do %>
                <i class="fa fa-angle-left icon-back color-black" aria-hidden="true"></i>
              <%end%>
            </div>
            <div class="col-xs-2 push-xs-3 forum">
              <%= image_tag "forum.svg", :alt => "Logo Youth Vision", :title => "Youth Vision", class:'img-fluid  center-block' %>
            </div>
        </div>
    </div>

</div>

  <div class="container-fluid">
    <div class="row">
      <div class="bar-forum">
        <div class="white-space space-medium"></div>
          <p class="text-xs-center">Por favor, comparta sus experiencias y preguntas aquí con otros jóvenes de unirse a uno de los tres foros de abajo. </p>
            <!--<%= link_to "Crear Foro", new_forum_path, class: "btn btn-login btn-green" %>-->
          <div class="text-xs-center link-forums">
          <%= link_to 'desarrollo profesional', forums_path(option:2) %><%= image_tag "proffesional-dev.svg", class:'m-x-auto d-block img-fluid img-forum' %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="bar-forum-2">
          <div class="text-xs-center link-forums">
          <%= link_to 'desarrollo de emprendimiento', forums_path(option:1) %><%= image_tag "endeavor-dev.svg", class:'m-x-auto d-block img-fluid img-forum' %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="bar-forum-2">
          <div class="text-xs-center link-forums">
          <%= link_to 'desarrollo de vida', forums_path(option:0) %><%= image_tag "life-dev.svg", class:'m-x-auto d-block img-fluid img-forum' %>
          </div>
      </div>

      <div class="bar-forum-btn"></div>
    </div>
  </div>
<% else %>
<div class="container-fluid">
  <div class="text-xs-center title-offer"><br>
    <% if @option == "2" %>
      <p class="title-2">Desarrollo Profesional</p>
    <% elsif @option == "1"%>
      <p class="title-2">Desarrollo de emprendimiento</p>
    <% elsif @option == "0" %>
      <p class="title-2">Desarrollo de Vida</p>
    <% end %>
    <%= link_to "Crear Foro", new_forum_path, class: "btn btn-login btn-green" %>
      <p class="title-2">Lista de Foros</p><hr>
      <% @forums.each do |forum| %>
        <p class="title-2">Título: </p>
        <%= link_to forum.title, forum_path(forum), class:"title-3"%><br>
        <p class="title-2">Contenido: </p>
        <%= truncate(forum.description, length:50) %><br>
        Escrito por: <%= link_to forum.user.username, profile_path(forum.user), class:"title-3" %> <br><hr>
      <% end %>
    </div>
  </div>
<% end %>
