<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12">
          <div class="col-xs-2">
              <%= link_to root_path do %>
              <i class="fa fa-angle-left icon-back color-black" aria-hidden="true"></i>
            <%end%>
          </div>
          <div class="col-xs-2 push-xs-3 register">
            <%= image_tag "register.svg", :alt => "Logo Youth Vision", :title => "Youth Vision", class:'img-fluid  center-block' %>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="bar-register"></div>
  </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

    <div class="col-xs-6 push-xs-3">
      <div class="white-space space-small"></div>
        <%= image_tag "logo-yv.svg", :alt => "Logo Youth Vision", :title => "Youth Vision", class:'img-fluid' %>
        <div class="white-space space-big"></div>
    </div>




        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.text_field :first_name, autofocus: true, placeholder: "PRIMER NOMBRE", class: "form-control name-last" %>
                <%= f.text_field :last_name, placeholder: "APELLIDOS" ,class: "form-control last-name " %>
              </div>
            </div>
          </div>
        <div class="form-group">
          <%= f.text_field :username, placeholder: "USUARIO" ,class: "form-control form-orange" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, placeholder: "CORREO",class: "form-control form-red" %>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, placeholder: "CONTRASEÑA (mínimo de 6 caracteres)" ,
                  autocomplete: "off", class: "form-control form-blue"  %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation,
                placeholder:"CONFIRMACIÓN DE CONTRASEÑA" ,autocomplete: "off", class: "form-control form-green" %>
        </div>

        <div class="col-xs-6 push-xs-3">
        <div class="white-space space-big"></div>
          <%= f.submit "REGISTRO", class: "btn btn-register btn-orange btn-block"%>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
