<%= form_for(@language) do |f| %>
  <div class="form-group">
    <%= f.label :language %>
    <%= f.collection_check_boxes :language, Language.all, :id, :language, {},{class:"form-control"} %><br>
    <!-- <%= f.text_field :language, class:"form-control"%><br> -->
    <%= f.submit "GUARDAR"%>
  </div>
<% end %>
