<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		<div class="white-space space-big"></div>
			<%= image_tag "logo-yv.svg", :alt => "Logo Youth Vision", :title => "Youth Vision", class:'img-fluid' %>
		</div>
		<div class="col-xs-2 col-xs-offset-5">
			<div class="white-space space-medium"></div>
			<%= link_to about_us_path do %>
			<%= image_tag "icon-talk.svg", class:'img-fluid' %>
			<% end %>
			<div class="white-space space-small"></div>
		</div>
	</div>

	<div class="row text-xs-center">
		<ul class="lang">
			<li> <a href=""><span class="borderline">English</span></a></li>
			<li> <a href=""><span class="borderline">Español</span></a></li>
			<li> <a href=""><span class="borderline">Français</span></a></li>
			<li> <a href=""><span class="borderline">Português</span></a></li>
		</ul>
	</div>

	<div class="row text-xs-center">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="white-space space-medium"></div>
				<% if user_signed_in? %>
					<%= link_to "Cerar sesión", destroy_user_session_path, method: :delete,
								class: "btn btn-login btn-red"%>
				<% else %>
					<%= link_to "registrarse", new_user_registration_path, class: "btn btn-login btn-red"%>
					<%= link_to "iniciar sesión", new_user_session_path, class: "btn btn-login btn-blue"%>
				<% end %>
		</div>
	</div>
</div>

<%= link_to "Desarrollo de vida", forums_path(option: 0)%><br>
<%= link_to "Desarrollo de emprendimiento",forums_path(option: 1)%><br>
<%= link_to "Desarrollo personal", forums_path(option: 2)%><br>
