<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12">
          <div class="col-xs-2">
              <%= link_to root_path do %>
              <i class="fa fa-angle-left icon-back color-black" aria-hidden="true"></i>
            <%end%>
          </div>
          <div class="col-xs-2 push-xs-3 register">
            <%= image_tag "register.svg", :alt => "Logo Youth Vision", :title => "Youth Vision", class:'img-fluid  center-block' %>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="bar-register"></div>
  </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
      <div class="col-xs-6 push-xs-3">
          <div class="white-space space-small"></div>
            <%= image_tag "logo-yv.svg", :alt => "Logo Youth Vision", :title => "Youth Vision", class:'img-fluid' %>
          <div class="white-space space-big"></div>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control form-red", placeholder: "CORREO" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "CONTRASEÑA",class: "form-control form-blue" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group ">
            <%= f.check_box :remember_me%>
            <%= f.label :remember_me, "Recuérdame", class:'link-recover'%>
          </div>
        <% end -%>

        <div class="actions col-xs-12 text-xs-center">
          <%= f.submit "INICIAR SESIÓN", class: "btn btn-register btn-orange center-block" %>
        </div>
      <% end %>
      <div class="clearfix"></div>

        <%= render "devise/shared/links" %>
  
         
    </div>
  </div>
</div>
