<div class="container">
  <p id="notice"><%= notice %></p>
  <center><h1>Lista de ofertas</h1></center><hr>
      <% @offers.each do |offer| %>
          <strong>Título: </strong><%= offer.title %><br>
          <strong>Descripción: </strong><%= offer.description %><br>
          <strong>Requerimientos: </strong><%= offer.requirements %><br>
          <%= link_to 'Show', offer %><hr>
      <% end %>
  <br>
</div>
