<div class="container">
    <br>
    <center>
    <div class="row">
      <h1>Oferta</h1>
    </div></center>

    <div class="row">
      <div class="col-xs-3">
        <strong>Oferta: </strong>
      </div>
      <div class="col-xs-9">
         <%= @offer.title %>
      </div>
    </div><hr>

    <div class="row">
      <div class="col-xs-3">
        <strong>Decripción: </strong>
      </div>
      <div class="col-xs-9">
         <%= @offer.description %>
      </div>
    </div><hr>

    <div class="row">
      <div class="col-xs-3">
        <strong>Salario:</strong>
      </div>
      <div class="col-xs-9">
         <%= @offer.salary %>
      </div><hr>

    </div>
    <div class="row">
      <div class="col-xs-3">
         <strong>Url:</strong>
      </div>
      <div class="col-xs-9">
         <a href="<%=@offer.url%> " target="_blank" ><%= @offer.url%></a>
      </div>
    </div><hr>

    <div class="row">
      <div class="col-xs-3">
        <strong>Requirimientos:</strong>
      </div>
      <div class="col-xs-9">
        <%= @offer.requirements %>
      </div>
    </div><hr>

    <div class="row">
      <div class="col-xs-3">
        <strong>Ubicación:</strong>
      </div>
       <div class="col-xs-9">
         <%= @offer.location %>
       </div>
    </div><hr>

    <br>
    <center>
       <div>
          <%= link_to "Aplicar","/offers/#{@offer.id}/apply", method: :put, class:"btn btn-info center",data: { confirm: 'Está seguro?' }%>
      </div>
      </center>
    <%= link_to 'Back', offers_path %>
</div>
