<!DOCTYPE html>
<html>
<head>
  <title>YouthVision</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if user_signed_in? %>
    <div class="container-fluid">
    	<div class="row breadcrum">
        <div class="col-xs-2 col-xs-offset-10">
            <strong> <%= current_user.username.capitalize %> </strong>
              <div class="dropdown">
                <i class="fa fa-user icon-user color-black dropdown-toggle" aria-hidden="true"id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><%= link_to "Home", root_path, class:"dropdown-item" %></li>
                  <% if current_user.profile == nil%>
                    <li><%= link_to "Crea tu Perfil", new_profile_path, class:"dropdown-item", onclick: "$('#profile_country').bfhcountries({country: 'US'})" %></li>
                  <% else %>
                    <li><%= link_to "Editar Perfil", edit_profile_path(current_user.profile), class:"dropdown-item", onclick: "$('#profile_country').bfhcountries({country: 'US'})" %></li>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <li><%= link_to "Cerar sesión", destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
                </div>
              </div>
    		</div>
    	</div>
    </div>
  <% end %>

  <div class="container-fluid">
  	<div class="row">
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <p><%= alert %></p>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <p><%= notice %></p>
        </div>
      <% end %>
    </div>
  </div>
  <%= yield %>
</body>
</html>
